<h1><%= @task.title %></h1>
<p><%= @task.details %></p>

<br>
<%= link_to "Get Back", tasks_path %>
<%= link_to "EDIT", edit_task_path %>
<%= link_to "Delete",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>